<?xml version="1.0"?>
<phpunit bootstrap="./bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="PhpTaskDaemon">
      <directory>./</directory>
    </testsuite>
  </testsuites>
  <filter>
    <blacklist>
      <file>./bootstrap.php</file>
      <directory>/usr/share/php/libzend-framework-php/</directory>
    </blacklist>
  </filter>
</phpunit>
